@model AuthHomeModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="w-100 row m-0" style="height: 35rem">
    <div class="col-6 d-md-block p-0 d-none" style="height: 100%">
        <img class="w-100" src="~/images/standing.jpg" style="object-fit:cover; height: 100%" />
    </div>
    <div class="col-md-6 h-100 d-flex flex-column justify-content-center">
        <div class="w-auto m-auto">
            <div class="d-flex mb-5">
                <img class="bg-dark p-3 mr-3" src="~/images/logo_no_text.svg" />
                <div>
                    <h3 class="">Account Login</h3>
                    <p class="text-muted">Sign in to get access to all premium features</p>
                </div>
            </div>
            <p class="text-danger">@Model.ErrorMessage</p>
            <a class="p-2 bg-dark text-white m-auto btn btn-lg btn-google btn-block btn-outline" asp-action="SignInWithGoogle" asp-route-returnUrl="@Model.ReturnUrl"><img src="~/images/google.png" width="25" height="25"> Sign in Using Google</a>
        </div>

    </div>
</div>
