@model Booking
<!-- credit card info-->
<div id="cash" class="tab-pane fade show active pt-3" role="tabpanel">
    <h6 class="pb-2">Step 1</h6>
    <p>Find and go to the nearest Toure office</p>
    <h6 class="pb-2">Step 2</h6>
    <p>Ask the support staff for payment support</p>
    <h6 class="pb-2">Step 4</h6>
    <p>Pay the specified amount</p>
    <h6 class="pb-2">Step 5</h6>
    <p>Check to see that the payment was successful and the status of your booking has been updated</p>
</div>
<!-- bank info -->
<div id="bank" class="tab-pane fade pt-3" role="tabpanel">
    <div class="alert alert-warning">
        <strong><i class="fas fa-exclamation-triangle"></i> Attention</strong>
        <p>
            Please write the <strong>transfer message</strong> using the following format:
        </p>
        <strong>For Deposit:</strong>
        <p>
            BookingNo_PhoneNumber_Deposit
            <br />
            Ex: HN203_0857604406_Deposit
        </p>
        <strong>For Final Payment:</strong>
        <p>
            BookingNo_PhoneNumber_Final
            <br />
            Ex: HN203_0857604406_Final
        </p>
        <p>
            Where BookingNo is the ID of your booking, PhoneNumber is your phone number
        </p>
    </div>
    <h5 class="my-3">Please transfer to one of the accounts below</h5>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td><strong>Bank</strong></td>
                <td><strong>Account Owner</strong></td>
                <td><strong>Account Number</strong></td>
                <td><strong>Branch</strong></td>
            </tr>
            <tr>
                <td><strong style="color: red;">VIETCOMBANK</strong> - NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN NGOẠI THƯƠNG VIỆT NAM</td>
                <td>Anonymous</td>
                <td>0071000939534</td>
                <td>CN HỒ CHÍ MINH</td>
            </tr>
            <tr>
                <td><strong style="color: red;">BIDV</strong> - NGÂN HÀNG ĐẦU TƯ VÀ PHÁT TRIỂN VIỆT NAM</td>
                <td>Anonymous</td>
                <td>31010001745233</td>
                <td>CN HỒ CHÍ MINH</td>
            </tr>
            <tr>
                <td><strong style="color: red;">ACB</strong> - NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN Á CHÂU</td>
                <td>Anonymous</td>
                <td>177563039</td>
                <td>PGD TRƯƠNG ĐỊNH</td>
            </tr>
            <tr>
                <td><strong style="color: red;">VIETINBANK</strong> - NGÂN HÀNG TMCP CÔNG THƯƠNG VIỆT NAM</td>
                <td>Anonymous</td>
                <td>102868874881</td>
                <td>CN THỦ THIÊM</td>
            </tr>
            <tr>
                <td><strong style="color: red;">AGRIBANK</strong> - NGÂN HÀNG NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN VIỆT NAM</td>
                <td>Anonymous</td>
                <td>6280205595686</td>
                <td>CN ĐÔNG SÀI GÒN</td>
            </tr>
            <tr>
                <td><strong style="color: red;">TECHCOMBANK</strong> - NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN KỸ THƯƠNG VIỆT NAM</td>
                <td>Anonymous</td>
                <td>19033684408018</td>
                <td>CN GIA ĐỊNH</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- bank transfer info -->
<div id="qrcode" class="tab-pane fade pt-3" role="tabpanel">
    <form asp-action="GeneratePaymentQRCode" asp-route-id="@Model.ID" method="post">
        <h5 class="mb-3">Select payment gateway</h5>
        <div class="form-group">
            <input checked id="zalopay" type="radio" name="method" value="@((int)Invoice.PaymentMethod.Zalo_Pay)" />
            <label for="zalopay">
                Pay with Zalo Pay<img class="img-fluid ml-2" height="25" width="25" src="https://1.bp.blogspot.com/-gd31Y8LLTXc/XY0WhpfUF9I/AAAAAAADDzo/44-B6-qh8o0yyMwo-J2cHKyWz2SbfJGKACLcBGAsYHQ/s1600/logo.png" alt="zalopay logo" />
            </label>
        </div>
        <div class="form-group">
            <input id="momo" type="radio" name="method" value="@((int)Invoice.PaymentMethod.Momo)" />
            <label for="momo">
                Pay with MoMo<img class="img-fluid ml-2" height="25" width="25" src="https://static.mservice.io/img/logo-momo.png" alt="zalopay logo" />
            </label>
        </div><div class="form-group">
            <input id="gpay" type="radio" name="method" value="@((int)Invoice.PaymentMethod.GPay)" />
            <label for="gpay">
                Pay with Google Pay<img class="img-fluid ml-2" height="25" width="25" src="https://1000logos.net/wp-content/uploads/2020/04/Google-Pay-Logo.png" alt="zalopay logo" />
            </label>
        </div>
        <div class="form-group">
            <p><button class="btn btn-primary ">Proceed Payment</button> </p>
        </div>
    </form>
</div> <!-- End -->