@{
    ViewData["Title"] = "Tours";
}


<h1>You are in tour page</h1>

<div class="container">
    <section class="text-center">
        <h2 class="mt-5 mb-5 text-left"> Tour List </h3>
            <div class="row ">
                <div class="col-lg-4 col-md-1 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/images/phan_thiet.jpg" class="img-fluid" style="height:300px ; width:400px" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> <a href="#">Thành phố Hồ Chí Minh - Phan Thiết</a></h5>
                            <p class="card-text">Ngày khởi hành: 30/3/2021</p>
                            <p class="card-text">Thời gian khởi hành: 9:30 A.M</p>
                            <p class="card-text">Giá tiền: <b>350,000</b></p>
                            <a href="#" class="btn btn-success"> Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/images/da_lat.png" class="img-fluid" style="height:300px ; width:400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> <a href="#">Thành phố Hồ Chí Minh -Thành phố Đà Lạt</a></h5>
                            <p class="card-text">Ngày khởi hành: 24/5/2021</p>
                            <p class="card-text">Thời gian khởi hành: 5:30 A.M</p>
                            <p class="card-text">Giá tiền: <b>600,000</b></p>
                            <a href="#" class="btn btn-success"> Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="~/images/da_nang.jpg" class="img-fluid" style="height:300px ; width:400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> <a href="#">Thành phố Hồ Chí Minh -Thành phố Đà Nẵng</a></h5>
                            <p class="card-text">Ngày khởi hành: 30/5/2021</p>
                            <p class="card-text">Thời gian khởi hành: 6:45 P.M</p>
                            <p class="card-text">Giá tiền: <b>2,000,000</b></p>
                            <a href="#" class="btn btn-success"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>

</section>
</div>