@{
    ViewData["Title"] = "Trip History";
}

   <style>
      
       th {
           color: #4d94ff;
       }
   </style>

<div class="container bootdey">
    <div class="row">
        <div class="col-md-12">
            <h1>Trip History</h1>
        </div>
        <div class="col-md-12">
            <form>
                <input type="text" placeholder="Search by trip name" size="25%">
                <input type="submit" value="search" />
            </form>
            <br />
        </div>
        <br />
        <br />
        <br />

        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Trip name</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Other info</th>
                </tr>
                <tr>
                    <td>Sydney</td>
                    <td>1000$</td>
                    <td>23 December</td>
                    <td>___</td>
                </tr>
                <tr>
                    <td>Ho Chi Minh city</td>
                    <td>5000$</td>
                    <td>22 December</td>
                    <td>Hire motobike</td>
                </tr>
                <tr>
                    <td>Ha Noi</td>
                    <td>9000$</td>
                    <td>19 December</td>
                    <td>___</td>
                </tr>
                <tr>
                    <td>Ba Na Hill</td>
                    <td>500$</td>
                    <td>10 December</td>
                    <td>Hire boat</td>
                </tr>

            </table>
        </div>
    </div>
</div>