@model Booking

@{
    ViewData["Title"] = $"Completed - Booking No.{Model.ID}";
}

<div class="container mt-5 mb-sm-4">
    <partial name="_BookingProgress" model="Model.Status" />

    <h3 class="mt-5">Congratuations, your booking is <span class="text-success">completed <i class="fas fa-check"></i></span></h3>
    <p class="text text-muted">Please be on time for your departure and follow the tour guidelines. <span class="text-info">We hope you have a wonderful time traveling</span></p>

    <div class="w-100 d-flex justify-content-center my-5">
        <img class="w-50" src="~/images/adventure.svg" alt="completed booking illustration" />
    </div>
</div>

<partial name="_BookingDetail" />