@model Booking

@{
    ViewData["Title"] = $"Deposit - Booking No.{Model.ID}";
}

<div class="container mt-5 pb-5 mb-sm-4">
    <partial name="_BookingProgress" model="Model.Status" />

    <h3 class="mt-5">Pay Deposit to procceed with your booking</h3>
    <p class="text text-muted">Your deposited will be used to make neccessary prepayments and bookings to create the best travel experience possible for you. It will be counted towards the final amount</p>
    <h3 class="mt-5">Payment Information</h3>
    <table class="mt-3 table table-borderless">
        <tr>
            <th>Tour</th>
            <td>@Model.Trip.Tour.Title</td>
        </tr>
        <tr>
            <th>Payment Category</th>
            <td>Final Payment</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>@Model.Deposit?.ToCurrencyString()</td>
        </tr>
        <tr>
            <th>Deadline</th>
            <td>@Model.PaymentDeadline <span class="text-danger">*</span></td>
        </tr>
    </table>
    <p class="text-danger ml-2">(*) Please complete the payment before the deadline or your booking will be canceled</p>
    <h3 class="mt-5">Payment methods</h3>
    <div class="container mt-3">
        <div class="row">
            <div class="card w-100">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="tab" href="#cash" role="tab" class="nav-link active "><i class="fas fa-wallet mr-2"></i> Cash </a> </li>
                            <li class="nav-item"> <a data-toggle="tab" href="#bank" role="tab" class="nav-link "><i class="fas fa-university mr-2"></i> Bank Transfer </a> </li>
                            <li class="nav-item"> <a data-toggle="tab" href="#qrcode" role="tab" class="nav-link "><i class="fas fa-qrcode"></i> QR Code </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <partial name="_BookingPaymentMethods" />
                        <div class="alert alert-info">
                            <strong><i class="far fa-lightbulb"></i> Tip</strong>
                            <p>
                                On successful deposit, the status of this booking will be changed to <strong>processing</strong>, please be patient while our staffs meticulously plan out your one-of-a-lifetime trip
                            </p>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_BookingDetail" />