@model QRPaymentModel 

@{
    ViewData["Title"] = "Payment with ZaloPay";
}

<input id="bookingID" type="hidden" value="@Model.BookingID" />

<div class="container card p-5 shadow my-5">
    <h3 class="text-center">SCAN THE QR CODE TO PAY VIA <img height="70" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw0oqxAd16P4rwxegN-h_VnyNLKh2jmaiHYNNSe4RIAk0z8Z0D4EFoHhUqasbKWa2SFD0&usqp=CAU" alt="Zalo Pay logo" /></h3>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-primary mt-4">
                <p><strong>Step 1:</strong> Open ZaloPay app on your phone</p>
                <p><strong>Step 2:</strong> Choose "Scan QR Code" and scan the qr code on the right</p>
                <p><strong>Step 3:</strong> Confirm the payment on your mobile app</p>
            </div>
            <a href="#" class="card-link">Choose another payment method</a>
            <h5 class="mt-3">Total amount: <span class="text-danger">@Model.TotalAmount.ToCurrencyString()</span></h5>
            <p class="mt-3">Payment expires in <span id="countdown" class="text-danger"></span></p>
        </div>
        <div class="col-md-4 offset-md-1">
            <img class="img-fluid fit-width" src="@Model.QRImageSource" alt="QR Code" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function startExpireTimer(duration) {
            let display = document.querySelector('#countdown');
            let timer = duration, minutes, seconds;
            let interval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    clearInterval(interval);
                }
            }, 1000);
        }

        function startRedirectTimer() {
            setTimeout(function () {
                window.location.replace(`/Booking/ZaloPayConfirm?id=${$('#bookingID').val()}`);
            }, 5000);
        }

        window.onload = function () {
            let fifteenMinutes = 60 * 15;
            startExpireTimer(fifteenMinutes);
            startRedirectTimer();
        };
    </script>
} 
